*{
  font-family: Verdana;
}

@media screen and (max-width: 1500px) {
  .artboard {
    margin: 0 auto; }


@media screen and (max-width: 768px) {
  .artboard {
    margin-top: calc( 5% + 30px);
    width: calc( 100% - 30px);
    max-width: 100%; }
  }
  /*Default setting for input*/
  input, select, textarea {
    outline: none;
    appearance: unset !important;
    -moz-appearance: unset !important;
    -webkit-appearance: unset !important;
    -o-appearance: unset !important;
    -ms-appearance: unset !important; }

  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    margin: 0; }

  input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important; }

  input, select {
    width: 90%;
    display: block;
    border: none;
    border-bottom: 2px solid #2e2e2e;
    color: #222;
    background-color: inherit;
  }

.artboard{
  width: 400px;
  height: 500px;
  background-color: white;
  box-shadow: 0px 3px 20px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 50px auto;
  border: 3px #2e2e2e solid;
  position: relative;
}

h1{
  color: #2e2e2e;
}

/*Input for the number*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

table{
  border: 1px solid black;
  table-layout: auto;
  margin-right: 5%;
  margin-left: 5%;
  width: 90%;
  border-collapse:collapse;
}
th,td{
  border: 1px solid black;
  table-layout: auto;
}
select{
  display: block;
  margin: 0  auto;
  font-size: 20px;
  text-align: center;
  z-index: 2;
}
option{
  font-size: 15px;
}
input:focus, select:focus {
    color: #2e2e2e;
    border-bottom: 2px solid #696969; }
#Date{
  font-weight: 550;
}
.display{
  width:95%;
  background-color: inherit;
  margin:5%;
  font-size: 18px;
}
#Register,#Show_Up{
  margin: 5%;
  font-size: 15px;
  color:#2e2e2e;
  width: 40%;
}
#Show_Up{
  position: absolute;
  top: 194px;
  left: 48%;
}
#comment{
  font-size: 12px;
  margin-top: -50px;
  background-color: #ff5252;
  border-radius: 5px;
  color:#f8f8f8;
  width: 85%;
  margin-left: 5%;
  padding: 5px;
  visibility: hidden;
}
#Total_Sales{
  margin: 5%;
  font-size: 20px;
}
th,td{
  font-size: 12px;
}
#Full,#TDeposit,#TDepositx,#TKIV,#TKIVx,#TPartial,#TPartialx,#TOther,#TOtherx{
  border-bottom: none;
  width: 60px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
#submit{
  border-radius: 2px;
  border: none;
  background-color: #2e2e2e;
  color: #f8f8f8;
  width: 50%;
  font-size: 20px;
  padding: 10px;
  margin: 20px;
  margin-top: 5px;
  margin-left: 25%;
}
#submit:hover{
  background-color: #686868;
  color: #f8f8f8;
  transform: scale(1.2);
}
