*{
  font-family: Verdana;
}

body{
  background: #74ebd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media screen and (max-width: 1500px) {
  .artboard {
    margin: 0 auto; }


@media screen and (max-width: 768px) {
  .artboard {
    margin-top: calc( 5% + 30px);
    width: calc( 100% - 30px);
    max-width: 100%; }
  }
  .artboard{
    width: 400px;
    height: 500px;
    background-color:#f8f8f8;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.2);
    border-radius: 5px;
    margin: 50px auto;
    border: 3px #FFFFFF solid;
    position: relative;
  }

  h1,h2,h3{
    color: #2e2e2e;
    font-family:"Galada";
    text-align: center;
    font-size: 50px;
    margin-top: 15px;
  }
  h2{
    font-size: 35px;
    margin-top: -50px;
  }
  h3{
    font-size: 25px;
    margin-top: -20px;
  }
  #Pie{
    margin-top:-70px;
    margin-left: -50px;
  }
