*{
  font-family: "Acme";
}
select{
  font-size: 1rem;
}

@media screen and (max-width: 1500px) {
  .artboard {
    width: 400px;
  }
  .Register,.ShowUP{
      top: 340px;
  }
  #Package{
    font-size:1.2em;
  }
  .Type,.Package1{
    width:30%;
  }
  .Currency1{
    width:19%;
  }
  #details,#Register,#ShowUP{
    font-size: 1rem;
  }
  #Step1,#Step2{
    left: 5%;
  }
  #Step3{
    left: 28%;
  }
  #Step4{
    left:80%;
  }
  #Step5{
    left: 34%;
  }
  #Step6{
    left: 16%;
  }
  #Step7{
    left: 50%;
  }
  #Step10{
    left:-25%;
  }
  #Step11{
    left:38%;
  }

}


@media screen and (max-width: 488px) {
  .artboard {
    max-width: 90%;
    }
    .Register,.ShowUP{
        top: 323px;
    }
    #Package{
      font-size:0.95em;
    }
    *{
      font-size: 15px;
    }
  #details p{
    font-size: 1rem;
  }
    .Quantity1,.Quantity,.Quantity2{
      display: none;
      width: 0px;
      padding: 0px;
      margin:0px;
    }
    .Package,.Package1{
      width:38%;
    }
    .Currency1{
      width:22%;
    }

    .Currency1 select{
      padding: 0px;
      padding-right: -30px;
      margin-left: -10px;
    }
    .Currency2 select{
      padding: 0px;
      padding-right: -30px;
      margin-left: -10px;
    }
    .Type{
      width:34%;
      margin:0;
      padding: 0px;
      margin-right: -10px;
    }
    .Type select{
      width: 100%;
      padding: 0;
      margin:0px;
      padding-left: 10px;
      padding-right: 5px;
    }
    .Price1{
      width:25%;
    }
    .Price2{
      width: 21%;
    }
    .lds-ellipsis{
      margin-left: 38%;
    }
  }
.artboard{
  box-shadow: 0px 3px 20px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 50px auto;
  border: 3px #2e2e2e solid;
  background-color: #EFEFFF;
  position: relative;
  height: auto;
}
#logo{
  margin-left: 35%;
  margin-top: 20px;
}
#Title{
  text-align: center;
  margin-top:-5px;
  font-family: "Satisfy";
  font-size: 40px;
}

select,#details p,#Show input{
  margin-top: 5px;
  padding: 0.625rem 10px;
  border: 1px solid #ccc;
  background: inherit;
  text-align: center;
}
#details p{
  border: none;
  margin: 0;
  padding: 0;
  text-align:left;
}
select{
  width:90%;
  margin-left: 5%;
}
#Show{
  width:90%;
  margin-left:calc(1% + 2px);
}
#Show input{
  width:88%;
  margin-left: 5%;
}
#ShowUP{
  margin-left: 20px;
}
.Register{
  margin-left: 10%;
  padding: 0.645rem 0.2rem;
  position: absolute;
  font-size: 1rem;
  color: grey;
  pointer-events: none;
  transition: 0.5s;
}

.ShowUP{
  padding: 0.645rem 0.2rem;
  position: absolute;
  font-size: 1rem;
  left:58%;
  color: gray;
  pointer-events: none;
  transition: 0.5s;
}
input:focus,select:focus{
  outline: none;
  border: 2px solid #1a73e8;
}
.EName{
  position: absolute;
  top:200px;
}
#details{
  width:calc(90% + 5px);
  margin-left: calc(5% + 2px);
  margin-top: 80px;
}
#date,#time{
  padding: 0.3rem 10px;
}
/*---------------(Pricing Details)--------------------------*/
#Pricing,#TotalUp{
  margin-top: 10px;
  margin-left: 5%;
  table-layout: auto;
  width:90%;
}
#Pricing td{
  margin-top: 5px;
  font-size: 1rem;
  padding: 0.1rem;
  border: 1px solid #ccc;
  background: inherit;
  text-align: center;
}
#Pricing .Quantity{
  padding: 0;
  margin: 0;
}
#Pricing input{
  width: 30px;
  padding: 0px;
  background-color: inherit;
  border: none;
  font-size: 1rem;
}
#Pricing th{
  font-weight: lighter;
}
#Pricing .Package{
  text-align: left;
  padding-left: 15px;
}
#Pricing button{
  border: none;
}
/*-----(Input Setting)---*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #F8F8F8 !important;
    color: #555 !important;
    -webkit-box-shadow: 0 0 0 1000px #F8F8F8 inset !important;
    -webkit-text-fill-color: #555555 !important;
    }
/*-----(button)----*/
button{
  width:90%;
  margin-left: 5%;
  letter-spacing: 2px;
  padding: 14px;
  color: #383736;
  font-weight: 700;
  border: 2px solid #333;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background-color: inherit;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}
    button:hover{
      color: white;
      border: none;
      background-color: #2e2e2e;

      -webkit-animation: rotate 1s infinite linear;
    }
    button:before {
      content: "";
      -webkit-transition: top 0.09s ease-in;
    }
    button:hover:before {
      top: 0;
    }

/*Other Payment*/

/*Pop Up Notification*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 340px;
  position: relative;
  transition: all 2s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-size: 3rem;
  font-family: "Satisfy";
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
.popup h4{
  margin-top: -40px;
  font-size: 1.3rem;
  color:#2e2e2e;
  margin-bottom: 0px;
}
#FullPayment{
  padding: 0;
  margin:0;
  color:#333;
  font-size: 1.2rem;
  width:100%;
}
#FullPayment input{
  margin:0;
  margin-left: 5px;
  padding: 10px;
  padding-left: 5px;
  padding-right: 0px;
  border: none;
  color: #333;
  background-color: transparent;
  border-bottom: 2px solid #333;
  padding-bottom: 0px;
  margin-bottom: 10px;
}
.Quantity4{
  width:20%;
}

.popup button{
  background-color: transparent;
}
.popup button:hover{
  color: white;
  border: none;
  background-color: #333;
}
.popup button:before{
  content: "";
position: absolute;
background-color: #383736;
bottom: 0;
left: 0;
right: 0;
top: 100%;
z-index: -1;
-webkit-transition: top 0.09s ease-in;
}
#Comment{
  padding-left: 3px;
}

#Choice{
  width: 90%;
  margin: 0;
  padding: 0;
  margin-left: 5%;
}
#Choice tr{
  width: 100%;
}
#Choice td{
  width: 50%;
}
.popup2{
  display:none;
}
/*------(Total)----*/
#TotalCurrecy option{
  background-color: #2e2e2e;
}

/*-----Pop Up button----*/
#Save{
  border: 2px solid #006400;
  color: #006400;
}
#Save:hover{
  background-color: #006400;
  color: #f8f8f8;
  transform: scale(1.1);
}
#Cancel{
  border: 2px solid #800000;
  color: #800000;
}
#Cancel:hover{
  background-color: #800000;
  color: #f8f8f8;
  transform: scale(1.1);
}
/*----Submit----*/
#Submit{
  margin-top: 20px;
  border: 2px solid #0253B3;
  color: #0253B3;
}
#Submit:hover{
  background-color: #0253B3;
  color: #f8f8f8;
  transform: scale(1.05);
}

/*Instruction*/
.Step{
  position:absolute;
  top:160px;
  color:#0253B3;
  animation: 2s infinite jump;
  display: none;
  padding-bottom: 0px;
}

@keyframes jump {
  0%   {transform: translateY(0px);}
  50%  {transform: translateY(5px);}
  100% {transform: translateY(0px);}
}
#Step2,#Step3{
  top:320px;
  text-align: center;
}

#Step4{
  top:360px;
  text-align: center;
}
#Step5{
  position: absolute;
  text-align: center;
  top: 80px;
}
#Step6,#Step7{
  position: absolute;
  text-align: center;
  top: 190px;
}
#Step8{
  position:relative;
  text-align: center;
  top: -190px;
  margin: -40px;
}
#Step9{
  position:relative;
  text-align: center;
  top: -115px;
}
#Step10{
  position:relative;
  text-align: center;
  top: -25px;
  margin: -70px;
}
#Step11{
  position:relative;
  text-align: center;
  top: -30px;
}
