*{
  font-family: "Acme";
  font-size: 1rem;
}
body{
  margin-left: 7%;
}

@media screen and (max-width: 1500px) {
  .artboard {
    width: 400px;
  }
  .HostVenue{
    left: 55%;
    top: 265px;
  }
  #Package{
    font-size:1.2em;
  }
  #Step1{
    left: 5%;
  }
  #Step4{
    left: 20%;
  }
  #Step5{
    left: 5%;
  }
  #Step6{
    left: 45%;
  }
  #Step8{
    left: 28%;
  }
  #Step9{
    left: 60%;
  }
  #Step10{
    left: 20%;
  }

}

@media screen and (max-width: 488px) {
  .artboard {
    max-width: 90%;

    }
    .HostVenue{
      left: 46%;
      top: 258px;
    }
    #Package{
      font-size:0.95em;
    }
    *{
      font-size: 15px;
    }
    #background{
      visibility: hidden;
    }
    #Step1{
      left: 5%;
    }
  }
.artboard{
  box-shadow: 0px 3px 20px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 50px auto;
  border: 3px #2e2e2e solid;
  background-color: #f8f8f8;
  position: relative;
  height: auto;
}
#logo{
  margin-left: 35%;
  margin-top: 20px;
}
#Title{
  text-align: center;
  margin-top:-5px;
  font-family: "Satisfy";
  font-size: 40px;
}
input{
  margin-top: 5px;
  margin-left: 5%;
  width: 85%;
  padding: 0.625rem 10px;
  border: 1px solid #ccc;
  background: transparent;
}
#EventName{
  margin-top: 40px;
}

.EventName{
  margin-left: 7%;
  padding: 0.645rem 0.2rem;
  position: absolute;
  top: 200px;
  font-size: 1rem;
  color: grey;
  pointer-events: none;
  transition: 0.5s;
}

.HostVenue{
  padding: 0.645rem 0.2rem;
  position: absolute;
  font-size: 1rem;
  color: grey;
  pointer-events: none;
  transition: 0.5s;
}
td{
  text-align: center;
  align-items: stretch;
  width:50%;
}

select{
  margin-top: 5%;
  padding: 0.625rem 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width:100%;
  background: transparent;
}
.artboard .inputBox2 input{
  width:100%;
  margin-left: 2px;
  margin-top: 5px;
}
input:focus,select:focus{
  outline: none;
  border: 2px solid #1a73e8;
}
.EDate{
  position: relative;
  top: 30px;
  font-size: 1em;
  margin-left: 5%;
}
input[type='date']{
  width: 76%;
  margin-left: 15%;
  margin-top: 0%;
}
input[type='time']{
  width: 150px;
  margin-top: 2%;
}
input[type='date']:focus{
  width: 85%;
  margin-left: 5%;
  outline: none;
  border: 2px solid #1a73e8;
}

table{
  margin-left: 4%;
  margin-top: 3%;
  width: 92%;
}

#EventNameBox{
  margin-top: -50px;
}
#Pricing td{
  width:auto;
}
#Pricing .Package{
  width:80%;
  padding:15px;
  margin: 0px;
  font-size: 1rem;
}
#Pricing .Price{
  width: 100px;
  padding:15px;
  margin: 0px;
  font-size: 1rem;
}
#Pricing select{
  padding: 15px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 1px;
  width: 60px;
}
button{
  margin-left: 5%;
  margin-top:20px;
  width:90%;
  height: 40px;
  letter-spacing: 2px;
  color: #383736;
  font-weight: 700;
  border: 2px #383736 solid;
  border-radius: 4px;
  border-radius: 5px;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}
.Currency{
  padding: 0.625rem 0px;
}

table button{
  width:100%;
  margin-top: 0px;
}
#Package{
  text-align: left;
  margin-left: 2px;
  width:50%;
}

#row{
  background-color: white;
  border-radius: 14px;
  position:absolute;
  top:558px;
  left:220px;
}

.add:hover~ #Plus,button:hover{
  color: white;
  border: none;
  -webkit-animation: shake 1s infinite linear;
}
button:before {
  content: "";
  position: absolute;
  background-color: #383736;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

button:hover:before {
  top: 0;
}
@-webkit-keyframes shake {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #F8F8F8 !important;
    color: #555 !important;
    -webkit-box-shadow: 0 0 0 1000px #F8F8F8 inset !important;
    -webkit-text-fill-color: #555555 !important;
    }

#creator{
  border-radius: 100%;
  width:20px;
  height:20px;
  position: absolute;
  top: 96%;
  left:24%;
}
#Footer{
  text-align: center;
}
/*Intsruction*/
/*Instruction*/
.Step{
  position:absolute;
  top:160px;
  color:#0253B3;
  animation: 2s infinite jump;
  display: none;
  padding-bottom: 0px;
  z-index: 2;
}

@keyframes jump {
  0%   {transform: translateY(0px);}
  50%  {transform: translateY(5px);}
  100% {transform: translateY(0px);}
}
#Step2,#Step3{
  top:230px;
  text-align: center;
}
#Step4{
  top:305px;
  text-align: center;
}
#Step5,#Step6{
  text-align: center;
  top: 365px;
}
#Step7,#Step8,#Step9{
  text-align: center;
  top: 440px;
}

#Step10{
  position: relative;
  text-align: center;
  top: -230px;
}
#Step11{
  position: relative;
  text-align: center;
  top: -210px;
}
